## Q1. Explain with an example each when to use a for loop and a while loop.

**For loop:**

For loops are used when we know the exact number of times we want to iterate through a loop.
Example:-

In [1]:
for i in range (1,11):
    print(i, end =" ")

1 2 3 4 5 6 7 8 9 10

**While Loop:**
While loops are used when we don't  know how many times we want to ittrate the loops.

example:

In [4]:
i = 10
while i != 4:
    print(i, end= " ")
    i-=1

10 9 8 7 6 5

## Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [7]:
# for loop
l_sum=0
l_mul=1
for i in range(1,11):
    l_sum = l_sum + i
    l_mul = l_mul * i
print(f"The sum and mul of the first 10 natural numbers are {l_sum} and {l_mul}  respectively") 
w_sum=0
w_mul=1
i = 1

#while loop
while i != 11:
    w_sum = i + w_sum
    w_mul = i * w_mul
    i+=1
print(f"The sum and mul of the first 10 natural numbers are {w_sum} and {w_mul}  respectively")

The sum and mul of the first 10 natural numbers are 55 and 3628800  respectively
The sum and mul of the first 10 natural numbers are 55 and 3628800  respectively

## Q3. Create a python program to compute the electricity bill for a household.The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 perunit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user willbe charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [17]:
unit=int(input("Enter the consume unit "))
if unit < 100:
         bill = unit * 4.5
elif unit >= 100 and unit < 200:
         bill = (100 * 4.5) + ((unit - 100) * 6)
elif unit >= 200 and unit < 300:
         bill = (100 * 4.5) + (100 * 6) + ((unit - 200) * 10)
else:
         bill = (100 * 4.5) + (100 * 6) + (100 * 10) + ((unit - 300) * 20)
print(f"You have to pay {bill} rupees ")

Enter the consume unit  310

You have to pay 2250.0 rupees

## Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of eachnumber and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [16]:
l= list()
for i in range(1,101):
    if ((i**3) % 4 == 0) or ((i**3) % 5 == 0):
        l.append(i)
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

## Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [24]:
string = "I want to become a data scientist"
string=list(string)
vow=0
for i in string:
    if (i == 'a') or (i == 'e') or (i == 'i') or (i == 'o') or (i == 'u'): 
        vow +=1
print(f"the total no of vowels {vow} ")

the total no of vowels 11

In [27]:
string = "I want to become a data scientist"
str1string.lower()
string

'I want to become a data scientist'